.App {
  text-align: center;
}

.Nav_Bar {
  border-style: solid;
  background-color: rgb(155, 212, 191);
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;

}

.Nav_Bar_Items {
  align-items: center;
}

.Nav_Link{
  display: inline;
  align-items: center;
  /* display: block;
  float: left; */
  width:4em ;
  margin: 1%;
  padding: 1%;
  
}

.Avatar_Image {
  align-self: center;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
  
}



.Articles_sort {
  display: block;
  text-align: center;
  font-size: 0.9em;
  display: flex;
	flex-direction: column;
	justify-content: center;
  padding: 1em;
  
}

.select_by {
  margin:1em
}



.Nav_Articles {
  
  border-style: solid;
  background-color: rgb(227, 203, 250);
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  
}
  

.Article-card {
  border-style: dotted;
  background-color: beige;
  margin-top: 5rem;
  margin-left: 6em;
  margin-right: 6em;


}
