.App {
  text-align: center;
  background-color: rgb(241, 241, 236);
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .App {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .App {
    font-size: 22px;
  }
}

.font-link {
  font-family: "Libre Baskerville", serif;
}

.Nav_Bar {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(155, 212, 191)
  );
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  max-width: 750px;
}

.Nav-buttons {
  display: flex;
  justify-content: space-between;
}

.Nav_Link {
  background-color: rgba(201, 76, 76, 0);
  margin: auto;
  color: black;
  padding: 14px 28px;
  font-size: 90%;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.Nav_Link:hover {
  background-color: rgb(144, 197, 178);
}

.Avatar_Image {
  align-self: center;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.Nav_Articles {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(227, 203, 250)
  );
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 40%;
}

.Articles_sort {
  text-align: center;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1em;
}

input[type="text"] {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.75em;
  overflow: auto;
  position: relative;
  max-width: 75%;
}

.Radio-order {
  margin-top: 1em;
  display: flex;
  max-width: 75%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.select-by {
  margin: 1em;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.75em;
}

.Topic-selector {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  max-width: 750px;
  display: flex;
  justify-content: space-between;
}

.Topic-button {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(227, 203, 250)
  );
  margin: auto;
  color: black;
  padding: 14px 28px;
  font-size: 90%;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.Topic-button:hover {
  background-color: rgb(227, 203, 250);
}

.Article-card {
  border-style: dotted;
  border-color: rgb(124, 124, 124);
  background-color: beige;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-left: 1%;
  padding-right: 1%;
}

.Article-heading {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(227, 203, 250)
  );
  max-width: 75%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.Article-body {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: auto;
  display: block;
  align-content: center;
  text-align: center;
}

.Article-text {
  text-align: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.up-vote {
}

.down-vote {
}

textarea {
  position: relative;
  display: block;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 90%;
  max-width: 700px;
  background-color: rgb(237, 238, 234);
}

.topics-block {
  display: block;

  overflow: auto;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.coding {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(227, 203, 250)
  );
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  max-width: 750px;
}

.football {
 
  
  background-image :url(https://images.unsplash.com/photo-1589487391730-58f20eb2c308?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80);

  background-size: auto;

  /* background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(0,0,0,0.1), url(https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); */

  /* background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(227, 203, 250)
  ); */
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  max-width: 750px;
}

.cooking {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(227, 203, 250)
  );

  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  max-width: 750px;
}

.down-vote {
  font-size: large;
  margin-left: 0.25em;
  margin-right: 0.25em;
  height: 3em;
  width: 3em;
}

.up-vote {
  font-size: large;
  margin-left: 0.5em;
  margin-right: 0.25em;
  height: 3em;
  width: 3em;
}


.vote-block {

  display: flex;
  justify-content: center;
  align-items: center;
 
  
}


.comment-body {
  font-size: 0.8em;
}

.comment-toggle {
  margin-top: 1em;
}

.comment-vote {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.comment-up-vote {
  margin-left: 1em;
  margin-right: 0.25em;
  height: 2em;
  width: 2em;

}

.comment-down-vote {
  margin-left: 0.25em;
  margin-right: 0.25em;
  height: 2em;
  width: 2em;

}

.comment-card {
  border-style: dotted;
  border-color: rgb(124, 124, 124);
  padding: 1em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left:1rem;
  margin-right:1rem;
}